body {
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 140%;
  padding: 1rem 0;
}

header, nav, main, footer {
  margin: 0 auto;
  width: 35rem;
}

footer {
  border-top: 1px solid black;
  margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 2.3rem;
}
